@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    src: local("Noto Sans KR Bold"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    src: local("Noto Sans KR Medium"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    src: local("Noto Sans KR Regular"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.ttf) format("truetype")
}

@font-face {
    font-family: D2 coding;
    font-style: normal;
    font-weight: 400;
    src: local("D2Coding"), url(https://cdn.inflearn.com/font/D2Coding.woff2) format("woff2"), url(https://cdn.inflearn.com/font/D2Coding.woff) format("woff"), url(https://cdn.inflearn.com/font/D2Coding.ttf) format("truetype")
}

.fw-bold {
    font-weight: 600
}

.fw-normal {
    font-weight: 500
}

.fw-light {
    font-weight: 300
}

.space-inset-2 {
    padding: 4px
}

.space-inset-4 {
    padding: 8px
}

.space-inset-6 {
    padding: 12px
}

.space-inset-8 {
    padding: 16px
}

.space-inset-10 {
    padding: 20px
}

.space-inset-12 {
    padding: 24px
}

.space-inset-stretch-2 {
    padding: 4px 8px
}

.space-inset-stretch-4 {
    padding: 8px 12px
}

.space-inset-stretch-5 {
    padding: 10px 16px
}

.space-inset-stretch-6 {
    padding: 12px 16px
}

.space-inset-stretch-8, .space-inset-stretch-12 {
    padding: 16px 24px
}

.space-inline-right-1 {
    padding-right: 2px
}

.space-inline-right-2 {
    padding-right: 4px
}

.space-inline-right-4 {
    padding-right: 8px
}

.space-inline-right-6 {
    padding-right: 12px
}

.space-inline-right-8 {
    padding-right: 16px
}

.space-inline-right-13 {
    padding-right: 36px
}

.space-inline-left-1 {
    padding-left: 2px
}

.space-inline-left-2 {
    padding-left: 4px
}

.space-inline-left-4 {
    padding-left: 8px
}

.space-inline-left-6 {
    padding-left: 12px
}

.space-inline-left-8 {
    padding-left: 8px
}

.space-inline-left-13 {
    padding-left: 36px
}

.space-stack-1 {
    margin-bottom: 2px
}

.space-stack-2 {
    margin-bottom: 4px
}

.space-stack-4 {
    margin-bottom: 8px
}

.space-stack-6 {
    margin-bottom: 12px
}

.space-stack-8 {
    margin-bottom: 16px
}

.space-stack-10 {
    margin-bottom: 20px
}

.space-stack-12 {
    margin-bottom: 24px
}

.space-stack-16 {
    margin-bottom: 32px
}

.space-stack-18 {
    margin-bottom: 36px
}

.space-stack-24 {
    margin-bottom: 48px
}

.space-stack-28 {
    margin-bottom: 56px
}

.space-stack-32 {
    margin-bottom: 64px
}

.space-stack-40 {
    margin-bottom: 80px
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

.container.is-fluid {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px
    }
}

.button .icon {
    width: 1rem;
    height: 1rem
}

.button .icon:first-child:last-child {
    margin-left: unset;
    margin-right: unset
}

.button .icon:last-child:not(:first-child) {
    margin-left: .25rem;
    margin-right: unset
}

.button.is-brand {
    background: #00c471;
    color: #fff
}

.input {
    height: auto
}

.icon {
    box-sizing: content-box;
    font-size: inherit;
    width: 1rem;
    height: 1rem;
    line-height: 1
}

.icon.circle {
    border-radius: 50%
}

.box {
    background-color: #fff;
    border-radius: 4px;
    color: #333
}

.title {
    line-height: 1.5;
    color: #333
}

@media screen and (max-width: 768px) {
    .title.is-2 {
        font-size: 1.5rem
    }

    .title.is-1 {
        font-size: 2rem
    }

    .title.is-4 {
        font-size: 1.25rem
    }

    .title.is-5 {
        font-size: 1.375rem
    }

    .title.is-6 {
        font-size: 1.125rem
    }

    .title.is-7 {
        font-size: 1rem
    }
}

.title.is-1 {
    line-height: 1.318
}

.title.is-2 {
    line-height: 1.33
}

.subtitle {
    line-height: 1.5;
    color: #333
}

.subtitle.is-1 {
    line-height: 1.318
}

.subtitle.is-2 {
    line-height: 1.33
}

.text.is-1 {
    font-size: 1rem
}

.text.is-2 {
    font-size: .9375rem
}

.text.is-3 {
    font-size: .875rem
}

.text.is-4 {
    font-size: .8125rem
}

.text.is-5 {
    font-size: .75rem
}

@media screen and (max-width: 768px) {
    .text.is-1 {
        font-size: .9375rem
    }

    .text.is-3 {
        font-size: .875rem
    }

    .text.is-4 {
        font-size: .8125rem
    }

    .text.is-5 {
        font-size: .75rem
    }
}

.subtext.is-1 {
    font-size: 1rem
}

.subtext.is-2 {
    font-size: .9375rem
}

.subtext.is-3 {
    font-size: .875rem
}

.subtext.is-4 {
    font-size: .8125rem
}

.subtext.is-5 {
    font-size: .75rem
}

div:not(.course_description) .content li + li {
    margin-top: unset
}

div:not(.course_description) .content ul {
    list-style: none;
    margin-left: unset;
    margin-top: unset
}

div:not(.course_description) .content ul ul {
    list-style-type: none;
    margin-top: unset
}

div:not(.course_description) .content ul ul ul {
    list-style-type: none
}

.ac-display-30 {
    line-height: 1.2;
    font-size: 30px
}

.ac-display-30, .ac-header-24 {
    font-weight: 700;
    letter-spacing: -.3px
}

.ac-header-24 {
    line-height: 1.25;
    font-size: 24px
}

.ac-header-22 {
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: -.3px;
    font-size: 22px
}

.ac-header-20 {
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.3px;
    font-size: 20px
}

.ac-header-20.ac-fwb {
    font-weight: 700
}

.ac-header-20.ac-fwm {
    font-weight: 500
}

.ac-body-16, .ac-header-20.ac-fwr {
    font-weight: 400
}

.ac-body-16 {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 16px
}

.ac-body-16.ac-fwb {
    font-weight: 700
}

.ac-body-16.ac-fwm {
    font-weight: 500
}

.ac-body-15, .ac-body-16.ac-fwr {
    font-weight: 400
}

.ac-body-15 {
    line-height: 1.47;
    letter-spacing: -.3px;
    font-size: 15px
}

.ac-body-15.ac-fwb {
    font-weight: 700
}

.ac-body-15.ac-fwm {
    font-weight: 500
}

.ac-body-14, .ac-body-15.ac-fwr {
    font-weight: 400
}

.ac-body-14 {
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px
}

.ac-body-14.ac-fwb {
    font-weight: 700
}

.ac-body-14.ac-fwm {
    font-weight: 500
}

.ac-body-14.ac-fwr, .ac-small-13 {
    font-weight: 400
}

.ac-small-13 {
    line-height: 1.38;
    letter-spacing: -.3px;
    font-size: 13px
}

.ac-small-13.ac-fwb {
    font-weight: 700
}

.ac-small-13.ac-fwm {
    font-weight: 500
}

.ac-small-12, .ac-small-13.ac-fwr {
    font-weight: 400
}

.ac-small-12 {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px
}

.ac-small-12.ac-fwb {
    font-weight: 700
}

.ac-small-12.ac-fwm {
    font-weight: 500
}

.ac-caption, .ac-small-12.ac-fwr {
    font-weight: 400
}

.ac-caption {
    line-height: 1.45;
    letter-spacing: -.3px;
    font-size: 11px
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap
}

.ac-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px
}

.ac-container, .ac-r {
    box-sizing: border-box
}

.ac-r {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -8px
}

.ac-r.reverse {
    flex-direction: row-reverse
}

.ac-cd, .ac-cd-1, .ac-cd-2, .ac-cd-3, .ac-cd-4, .ac-cd-5, .ac-cd-6, .ac-cd-7, .ac-cd-8, .ac-cd-9, .ac-cd-10, .ac-cd-11, .ac-cd-12, .ac-cd-offset-0, .ac-cd-offset-1, .ac-cd-offset-2, .ac-cd-offset-3, .ac-cd-offset-4, .ac-cd-offset-5, .ac-cd-offset-6, .ac-cd-offset-7, .ac-cd-offset-8, .ac-cd-offset-9, .ac-cd-offset-10, .ac-cd-offset-11, .ac-cd-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 8px;
    padding-right: 8px
}

.ac-cd {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.ac-cd-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.ac-cd-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.ac-cd-3 {
    flex-basis: 25%;
    max-width: 25%
}

.ac-cd-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.ac-cd-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.ac-cd-6 {
    flex-basis: 50%;
    max-width: 50%
}

.ac-cd-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.ac-cd-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.ac-cd-9 {
    flex-basis: 75%;
    max-width: 75%
}

.ac-cd-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.ac-cd-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.ac-cd-12 {
    flex-basis: 100%;
    max-width: 100%
}

.ac-cd-offset-auto {
    margin-left: auto;
    margin-right: auto
}

.ac-cd-offset-0 {
    margin-left: 0
}

.ac-cd-offset-1 {
    margin-left: 8.33333333%
}

.ac-cd-offset-2 {
    margin-left: 16.6666666%
}

.ac-cd-offset-3 {
    margin-left: 25%
}

.ac-cd-offset-4 {
    margin-left: 33.33333333%
}

.ac-cd-offset-5 {
    margin-left: 41.66666667%
}

.ac-cd-offset-6 {
    margin-left: 50%
}

.ac-cd-offset-7 {
    margin-left: 58.33333333%
}

.ac-cd-offset-8 {
    margin-left: 66.66666667%
}

.ac-cd-offset-9 {
    margin-left: 75%
}

.ac-cd-offset-10 {
    margin-left: 83.33333333%
}

.ac-cd-offset-11 {
    margin-left: 91.66666667%
}

.start-cd {
    justify-content: flex-start;
    text-align: start
}

.center-cd {
    justify-content: center;
    text-align: center
}

.end-cd {
    justify-content: flex-end;
    text-align: end
}

.top-cd {
    align-items: flex-start
}

.middle-cd {
    align-items: center
}

.bottom-cd {
    align-items: flex-end
}

.around-cd {
    justify-content: space-around
}

.between-cd {
    justify-content: space-between
}

@media screen and (max-width: 1024px) {
    .ac-container {
        padding: 0 24px;
        max-width: 1024px
    }

    .ac-ct, .ac-ct-1, .ac-ct-2, .ac-ct-3, .ac-ct-4, .ac-ct-5, .ac-ct-6, .ac-ct-7, .ac-ct-8, .ac-ct-9, .ac-ct-10, .ac-ct-11, .ac-ct-12, .ac-ct-offset-0, .ac-ct-offset-1, .ac-ct-offset-2, .ac-ct-offset-3, .ac-ct-offset-4, .ac-ct-offset-5, .ac-ct-offset-6, .ac-ct-offset-7, .ac-ct-offset-8, .ac-ct-offset-9, .ac-ct-offset-10, .ac-ct-offset-11, .ac-ct-offset-12, .ac-ct-unit, .ac-ct-unit-1, .ac-ct-unit-2, .ac-ct-unit-3, .ac-ct-unit-4, .ac-ct-unit-5, .ac-ct-unit-6, .ac-ct-unit-7, .ac-ct-unit-8, .ac-ct-unit-offset-0, .ac-ct-unit-offset-1, .ac-ct-unit-offset-2, .ac-ct-unit-offset-3, .ac-ct-unit-offset-4, .ac-ct-unit-offset-5, .ac-ct-unit-offset-6, .ac-ct-unit-offset-7 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: 8px;
        padding-right: 8px
    }

    .ac-ct {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-ct-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .ac-ct-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .ac-ct-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-ct-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .ac-ct-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .ac-ct-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-ct-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .ac-ct-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .ac-ct-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-ct-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .ac-ct-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .ac-ct-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-ct-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-ct-offset-0 {
        margin-left: 0
    }

    .ac-ct-offset-1 {
        margin-left: 8.33333333%
    }

    .ac-ct-offset-2 {
        margin-left: 16.6666666%
    }

    .ac-ct-offset-3 {
        margin-left: 25%
    }

    .ac-ct-offset-4 {
        margin-left: 33.33333333%
    }

    .ac-ct-offset-5 {
        margin-left: 41.66666667%
    }

    .ac-ct-offset-6 {
        margin-left: 50%
    }

    .ac-ct-offset-7 {
        margin-left: 58.33333333%
    }

    .ac-ct-offset-8 {
        margin-left: 66.66666667%
    }

    .ac-ct-offset-9 {
        margin-left: 75%
    }

    .ac-ct-offset-10 {
        margin-left: 83.33333333%
    }

    .ac-ct-offset-11 {
        margin-left: 91.66666667%
    }

    .ac-ct-unit {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-ct-unit-1 {
        flex-basis: 12.5%;
        max-width: 12.5%
    }

    .ac-ct-unit-2 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-ct-unit-3 {
        flex-basis: 37.5%;
        max-width: 37.5%
    }

    .ac-ct-unit-4 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-ct-unit-5 {
        flex-basis: 62.5%;
        max-width: 62.5%
    }

    .ac-ct-unit-6 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-ct-unit-7 {
        flex-basis: 87.5%;
        max-width: 87.5%
    }

    .ac-ct-unit-8 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-ct-unit-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-ct-unit-offset-0 {
        margin-left: 0
    }

    .ac-ct-unit-offset-1 {
        margin-left: 12.5%
    }

    .ac-ct-unit-offset-2 {
        margin-left: 25%
    }

    .ac-ct-unit-offset-3 {
        margin-left: 37.5%
    }

    .ac-ct-unit-offset-4 {
        margin-left: 50%
    }

    .ac-ct-unit-offset-5 {
        margin-left: 62.5%
    }

    .ac-ct-unit-offset-6 {
        margin-left: 75%
    }

    .ac-ct-unit-offset-7 {
        margin-left: 82.5%
    }

    .start-ct {
        text-align: start
    }

    .center-ct, .start-ct {
        justify-content: flex-start
    }

    .center-ct {
        text-align: center
    }

    .end-ct {
        justify-content: flex-end;
        text-align: end
    }

    .top-ct {
        align-items: flex-start
    }

    .middle-ct {
        align-items: center
    }

    .bottom-ct {
        align-items: flex-end
    }

    .around-ct {
        justify-content: space-around
    }

    .between-ct {
        justify-content: space-between
    }
}

@media screen and (max-width: 768px) {
    .ac-container {
        padding: 0 24px;
        max-width: 768px
    }

    .ac-cm, .ac-cm-1, .ac-cm-2, .ac-cm-3, .ac-cm-4, .ac-cm-5, .ac-cm-6, .ac-cm-7, .ac-cm-8, .ac-cm-9, .ac-cm-10, .ac-cm-11, .ac-cm-12, .ac-cm-offset-0, .ac-cm-offset-1, .ac-cm-offset-2, .ac-cm-offset-3, .ac-cm-offset-4, .ac-cm-offset-5, .ac-cm-offset-6, .ac-cm-offset-7, .ac-cm-offset-8, .ac-cm-offset-9, .ac-cm-offset-10, .ac-cm-offset-11, .ac-cm-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: 8px;
        padding-right: 8px
    }

    .ac-cm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-cm-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .ac-cm-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .ac-cm-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-cm-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .ac-cm-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .ac-cm-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-cm-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .ac-cm-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .ac-cm-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-cm-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .ac-cm-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .ac-cm-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-cm-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-cm-offset-0 {
        margin-left: 0
    }

    .ac-cm-offset-1 {
        margin-left: 8.33333333%
    }

    .ac-cm-offset-2 {
        margin-left: 16.6666666%
    }

    .ac-cm-offset-3 {
        margin-left: 25%
    }

    .ac-cm-offset-4 {
        margin-left: 33.33333333%
    }

    .ac-cm-offset-5 {
        margin-left: 41.66666667%
    }

    .ac-cm-offset-6 {
        margin-left: 50%
    }

    .ac-cm-offset-7 {
        margin-left: 58.33333333%
    }

    .ac-cm-offset-8 {
        margin-left: 66.66666667%
    }

    .ac-cm-offset-9 {
        margin-left: 75%
    }

    .ac-cm-offset-10 {
        margin-left: 83.33333333%
    }

    .ac-cm-offset-11 {
        margin-left: 91.66666667%
    }

    .ac-cm-unit {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-cm-unit-1 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-cm-unit-2 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-cm-unit-3 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-cm-unit-4 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-cm-unit-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-cm-unit-offset-0 {
        margin-left: 0
    }

    .ac-cm-unit-offset-1 {
        margin-left: 25%
    }

    .ac-cm-unit-offset-2 {
        margin-left: 50%
    }

    .ac-cm-unit-offset-3 {
        margin-left: 75%
    }

    .start-cm {
        text-align: start
    }

    .center-cm, .start-cm {
        justify-content: flex-start
    }

    .center-cm {
        text-align: center
    }

    .end-cm {
        justify-content: flex-end;
        text-align: end
    }

    .top-cm {
        align-items: flex-start
    }

    .middle-cm {
        align-items: center
    }

    .bottom-cm {
        align-items: flex-end
    }

    .around-cm {
        justify-content: space-around
    }

    .between-cm {
        justify-content: space-between
    }
}

.infd-columns {
    display: flex
}

.infd-columns .infd-column.is-12 {
    width: 100%
}

.infd-columns .infd-column.is-8 {
    width: 66.667%;
    flex: 0 0 auto
}

.infd-columns .infd-column.is-4 {
    width: 33.333%;
    flex: 0 0 auto
}

.infd-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease
}

.infd-icon.circle {
    border-radius: 9999px
}

.infd-icon path {
    transition: background-color .15s ease
}

.infd-icon.mr-4 {
    margin-right: 4px
}

.infd-icon.mr-6 {
    margin-right: 6px
}

.infd-icon.mr-8 {
    margin-right: 8px
}

.infd-icon.ml-4 {
    margin-left: 4px
}

.infd-icon.ml-6 {
    margin-left: 6px
}

.infd-icon.ml-8 {
    margin-left: 8px
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap
}

.profile #main {
    margin-bottom: 24px
}

.profile #main .sidebar_left {
    padding-top: 1.75rem
}

.profile #main .my_student_header {
    background-color: #333b3d;
    padding: .5rem;
    color: #fff
}

.profile #main .main_container {
    padding-top: 1rem
}

@media screen and (max-width: 1024px) {
    .profile #main .main_container {
        padding-top: unset;
        flex: 1 1 0
    }
}

@media screen and (max-width: 767px) {
    .profile #main .main_container {
        margin-top: 42px
    }
}

.profile #main .main_container h3.heading {
    margin-top: .5rem;
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    color: #313131
}

.profile #main .main_container .breadcrumb {
    font-size: 12px;
    color: #494949
}

@media screen and (max-width: 768px) {
    .profile #main .main_container {
        padding: .5rem
    }
}

.profile .my-learning-tabs {
    display: flex;
    width: 100%;
    overflow-x: auto;
    align-items: center;
    padding: 0 16px;
    min-height: 54px;
    border: 1px solid #e9ecef;
    border-radius: 8px
}

@media screen and (max-width: 767px) {
    .profile .my-learning-tabs {
        position: absolute;
        top: 15px;
        padding: 0 8px;
        border: none;
        min-height: 45px
    }
}

.profile .my-learning-tabs__button {
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    height: 52px;
    color: #abb0b5;
    font-weight: 700;
    white-space: nowrap
}

.profile .my-learning-tabs__button.ac-fwb {
    font-weight: 700
}

.profile .my-learning-tabs__button.ac-fwm {
    font-weight: 500
}

.profile .my-learning-tabs__button.ac-fwr {
    font-weight: 400
}

@media screen and (max-width: 767px) {
    .profile .my-learning-tabs__button {
        align-items: flex-start;
        padding: 0 8px;
        height: 40px
    }
}

@media screen and (max-width: 767px) {
    .profile .my-learning-tabs__button:last-child {
        margin-right: 24px
    }
}

@media screen and (max-width: 767px) {
    .profile .my-learning-tabs__button:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #e9ebee
    }
}

@media screen and (max-width: 767px)and (max-width: 767px) {
    .profile .my-learning-tabs__button:after {
        bottom: 5px
    }
}

.profile .my-learning-tabs__button--active {
    color: #1b1c1d
}

.profile .my-learning-tabs__button--active:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #1b1c1d
}

@media screen and (max-width: 767px) {
    .profile .my-learning-tabs__button--active:after {
        bottom: 5px
    }
}

.profile .my-page-list__item {
    border-bottom: 1px solid #e9ebee
}

.pg___my-posts .my-posts__wrapper {
    padding: 1.75rem
}

.pg___my-posts .my-posts__tabs {
    display: flex;
    align-items: center;
    padding: 0 16px;
    min-height: 54px;
    border: 1px solid #e9ecef;
    border-radius: 8px
}

@media screen and (max-width: 767px) {
    .pg___my-posts .my-posts__tabs {
        padding: 0 8px
    }
}

.pg___my-posts .my-questions__tab.is-active {
    position: relative;
    color: #1b1c1d
}

.pg___my-posts .my-questions__tab.is-active:after {
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background-color: #1b1c1d;
    content: ""
}

.pg___my-posts .tab-button {
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    padding: 0 12px;
    color: #abb0b5;
    font-weight: 700
}

.pg___my-posts .tab-button.ac-fwb {
    font-weight: 700
}

.pg___my-posts .tab-button.ac-fwm {
    font-weight: 500
}

.pg___my-posts .tab-button.ac-fwr {
    font-weight: 400
}

.pg___my-posts .tab-button:hover {
    color: #868e96;
    cursor: pointer
}

.pg___my-posts .my-questions__tab.is-active .tab-button {
    color: #1b1c1d;
    font-weight: 700
}

.pg___my-posts .pagination {
    margin-top: 20px
}

.pg___my-posts .my-posts__post-list-cover {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    border: 1px solid #e9ecef;
    border-radius: 8px
}

.pg___my-posts .question-list__content {
    display: flex;
    flex-direction: column;
    min-height: 140px
}

.pg___my-posts .post-list__select-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 52px;
    padding: 16px
}

.pg___my-posts .select-status .ac-button.status-button {
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    margin-left: 12px;
    padding: 0;
    color: #abb0b5;
    font-weight: 500
}

.pg___my-posts .select-status .ac-button.status-button.ac-fwb {
    font-weight: 700
}

.pg___my-posts .select-status .ac-button.status-button.ac-fwm {
    font-weight: 500
}

.pg___my-posts .select-status .ac-button.status-button.ac-fwr {
    font-weight: 400
}

.pg___my-posts .select-status:first-child .ac-button.status-button {
    margin-left: 0
}

.pg___my-posts .select-status.is-active .ac-button.status-button {
    color: #1b1c1d
}

.pg___my-posts .select-status path {
    fill: #abb0b5
}

.pg___my-posts .select-status.is-active path {
    fill: #00c471
}

.pg___my-posts .content__empty {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 16px;
    margin: auto;
    padding-top: 108px;
    height: 240px;
    text-align: center;
    color: #abb0b5;
    font-weight: 700
}

.pg___my-posts .content__empty.ac-fwb {
    font-weight: 700
}

.pg___my-posts .content__empty.ac-fwm {
    font-weight: 500
}

.pg___my-posts .content__empty.ac-fwr {
    font-weight: 400
}

.pg___my-posts .question-list__question {
    display: flex;
    padding: 20px 35px 20px 20px;
    min-height: 128px;
    border-top: 1px solid #e9ecef
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question-list__question {
        flex-direction: column;
        padding: 0
    }
}

.pg___my-posts .question-container:first-child .question-list__question {
    border: none
}

.pg___my-posts .question-list__question--event-tab {
    padding: 20px 60px 20px 20px
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question-list__question--event-tab {
        padding: 0
    }
}

.pg___my-posts .question__info {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex: 1
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question__info {
        flex-direction: column
    }
}

.pg___my-posts .question__info-cover {
    flex: 1
}

.pg___my-posts .question-list__question--hover {
    cursor: pointer;
    background-color: #f8f9fa
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question__info--main {
        padding: 20px 20px 0
    }
}

.pg___my-posts .question__info-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center
}

.pg___my-posts .question__title {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.pg___my-posts .title__text {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    white-space: normal;
    line-height: 1.5;
    max-height: "3px";
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #1b1c1d;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: .3px
}

.pg___my-posts .question__title svg {
    position: relative;
    top: 6px;
    margin-left: 4px
}

.pg___my-posts .question__body {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    white-space: nowrap;
    white-space: normal;
    line-height: 1.5;
    max-height: "3px";
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    margin-bottom: 10px;
    max-height: 44px;
    color: #858a8d
}

.pg___my-posts .question__body.ac-fwb {
    font-weight: 700
}

.pg___my-posts .question__body.ac-fwm {
    font-weight: 500
}

.pg___my-posts .question__body.ac-fwr {
    font-weight: 400
}

.pg___my-posts .question__tags {
    display: flex;
    flex-wrap: wrap
}

.pg___my-posts .question__tags--exist {
    margin-bottom: 16px
}

.pg___my-posts .question__tags--none {
    height: 13px
}

@media screen and (max-width: 1024px) {
    .pg___my-posts .question__tags--none {
        height: 6px
    }
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question__tags:before {
        margin-bottom: 10px;
        width: 100%;
        height: 1px;
        content: "";
        background-color: #f1f3f5
    }
}

.pg___my-posts .question__tags .ac-tag {
    margin-right: 8px;
    margin-bottom: 5px;
    height: 26px;
    border-radius: 4px
}

.pg___my-posts .question__additional-info {
    display: flex;
    flex-direction: column-reverse
}

.pg___my-posts .question__additional-info.event-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 80px
}

@media screen and (max-width: 1024px) {
    .pg___my-posts .question__additional-info.event-tab {
        margin-left: 60px
    }
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question__additional-info.event-tab {
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
        border-top: 1px solid #f1f3f5;
        background-color: #fcfcfd
    }
}

.pg___my-posts .question__event-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 12px;
    padding: 14px 23px 12px;
    width: 66px;
    height: 66px;
    border: 1px solid #dee2e6;
    border-radius: 100px;
    background-color: #fff
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question__event-btn {
        flex-direction: row;
        align-items: center;
        margin: 1px 0 0;
        padding: 10px 57px;
        width: 50%;
        height: 40px;
        border: none;
        background-color: #fcfcfd
    }
}

.pg___my-posts .question__event-btn:hover {
    cursor: pointer;
    opacity: .64
}

@media screen and (max-width: 767px) {
    .pg___my-posts .question__event-btn:after {
        position: absolute;
        left: 50%;
        width: 1px;
        height: 40px;
        background-color: #f1f3f5;
        content: ""
    }
}

.pg___my-posts .question__event-btn svg {
    position: relative;
    top: 1px
}

.pg___my-posts .question__event-btn--bookmark {
    color: #3c61e5
}

.pg___my-posts .event-btn__count {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px;
    font-weight: 500
}

.pg___my-posts .event-btn__count.ac-fwb {
    font-weight: 700
}

.pg___my-posts .event-btn__count.ac-fwm {
    font-weight: 500
}

.pg___my-posts .event-btn__count.ac-fwr {
    font-weight: 400
}

@media screen and (max-width: 767px) {
    .pg___my-posts .event-btn__count {
        margin-left: 2px;
        font-weight: 400;
        line-height: 1.43;
        letter-spacing: -.3px;
        font-size: 14px
    }

    .pg___my-posts .event-btn__count.ac-fwb {
        font-weight: 700
    }

    .pg___my-posts .event-btn__count.ac-fwm {
        font-weight: 500
    }

    .pg___my-posts .event-btn__count.ac-fwr {
        font-weight: 400
    }
}

.pg___my-posts .question__info-footer {
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    color: #616568;
    font-weight: 400
}

.pg___my-posts .question__info-footer.ac-fwb {
    font-weight: 700
}

.pg___my-posts .question__info-footer.ac-fwm {
    font-weight: 500
}

.pg___my-posts .question__info-footer.ac-fwr {
    font-weight: 400
}

@media screen and (max-width: 767px) {
    .pg___my-posts .footer__cover, .pg___my-posts .question__info-footer {
        display: flex;
        flex-direction: column
    }

    .pg___my-posts .footer__cover {
        margin-bottom: 20px;
        padding: 0 20px
    }
}

.pg___my-posts .footer__name {
    display: inline;
    font-weight: 500
}

.pg___my-posts .footer__dot {
    display: inline
}

@media screen and (max-width: 767px) {
    .pg___my-posts .footer__dot {
        display: none
    }
}

.pg___my-posts .footer__info {
    display: inline
}

@media screen and (max-width: 767px) {
    .pg___my-posts .footer__info {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: nowrap
    }
}

.pg___my-posts .footer__additional-info {
    display: flex;
    flex-direction: row-reverse;
    color: #616568
}

@media screen and (max-width: 767px) {
    .pg___my-posts .footer__additional-info {
        flex: 1;
        margin: 1px 0 0;
        padding: 10px 20px;
        height: 40px;
        border-top: 1px solid #e9ecef;
        background: #fcfcfd
    }
}

@media screen and (max-width: 767px) {
    .pg___my-posts .footer__additional-info.event-tab {
        border-top: none
    }
}

.pg___my-posts .footer__additional-info span {
    display: flex
}

.pg___my-posts .additional-info {
    display: flex;
    align-items: center;
    margin-right: 24px
}

.pg___my-posts .additional-info:first-child {
    margin-right: 0
}

.pg___my-posts .additional-info.event-tab {
    margin-right: 5px
}

@media screen and (max-width: 767px) {
    .pg___my-posts .additional-info.event-tab {
        margin: auto
    }
}

.pg___my-posts .additional-info__count {
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    margin-left: 2px
}

.pg___my-posts .additional-info__count.ac-fwb {
    font-weight: 700
}

.pg___my-posts .additional-info__count.ac-fwm {
    font-weight: 500
}

.pg___my-posts .additional-info__count.ac-fwr {
    font-weight: 400
}

.pg___my-posts .additional-info__count--cmt {
    margin-left: 4px
}

.pg___my-posts .infd-icon .icon-box-16 {
    width: 16px;
    height: 16px
}

@media screen and (max-width: 1024px) {
    .container {
        padding-top: 0
    }
}