@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    src: local("Noto Sans KR Bold"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    src: local("Noto Sans KR Medium"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    src: local("Noto Sans KR Regular"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.ttf) format("truetype")
}

@font-face {
    font-family: D2 coding;
    font-style: normal;
    font-weight: 400;
    src: local("D2Coding"), url(https://cdn.inflearn.com/font/D2Coding.woff2) format("woff2"), url(https://cdn.inflearn.com/font/D2Coding.woff) format("woff"), url(https://cdn.inflearn.com/font/D2Coding.ttf) format("truetype")
}

.fw-bold {
    font-weight: 600
}

.fw-normal {
    font-weight: 500
}

.fw-light {
    font-weight: 300
}

.space-inset-2 {
    padding: 4px
}

.space-inset-4 {
    padding: 8px
}

.space-inset-6 {
    padding: 12px
}

.space-inset-8 {
    padding: 16px
}

.space-inset-10 {
    padding: 20px
}

.space-inset-12 {
    padding: 24px
}

.space-inset-stretch-2 {
    padding: 4px 8px
}

.space-inset-stretch-4 {
    padding: 8px 12px
}

.space-inset-stretch-5 {
    padding: 10px 16px
}

.space-inset-stretch-6 {
    padding: 12px 16px
}

.space-inset-stretch-8, .space-inset-stretch-12 {
    padding: 16px 24px
}

.space-inline-right-1 {
    padding-right: 2px
}

.space-inline-right-2 {
    padding-right: 4px
}

.space-inline-right-4 {
    padding-right: 8px
}

.space-inline-right-6 {
    padding-right: 12px
}

.space-inline-right-8 {
    padding-right: 16px
}

.space-inline-right-13 {
    padding-right: 36px
}

.space-inline-left-1 {
    padding-left: 2px
}

.space-inline-left-2 {
    padding-left: 4px
}

.space-inline-left-4 {
    padding-left: 8px
}

.space-inline-left-6 {
    padding-left: 12px
}

.space-inline-left-8 {
    padding-left: 8px
}

.space-inline-left-13 {
    padding-left: 36px
}

.space-stack-1 {
    margin-bottom: 2px
}

.space-stack-2 {
    margin-bottom: 4px
}

.space-stack-4 {
    margin-bottom: 8px
}

.space-stack-6 {
    margin-bottom: 12px
}

.space-stack-8 {
    margin-bottom: 16px
}

.space-stack-10 {
    margin-bottom: 20px
}

.space-stack-12 {
    margin-bottom: 24px
}

.space-stack-16 {
    margin-bottom: 32px
}

.space-stack-18 {
    margin-bottom: 36px
}

.space-stack-24 {
    margin-bottom: 48px
}

.space-stack-28 {
    margin-bottom: 56px
}

.space-stack-32 {
    margin-bottom: 64px
}

.space-stack-40 {
    margin-bottom: 80px
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

.container.is-fluid {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px
    }
}

.button .icon {
    width: 1rem;
    height: 1rem
}

.button .icon:first-child:last-child {
    margin-left: unset;
    margin-right: unset
}

.button .icon:last-child:not(:first-child) {
    margin-left: .25rem;
    margin-right: unset
}

.button.is-brand {
    background: #00c471;
    color: #fff
}

.input {
    height: auto
}

.icon {
    box-sizing: content-box;
    font-size: inherit;
    width: 1rem;
    height: 1rem;
    line-height: 1
}

.icon.circle {
    border-radius: 50%
}

.box {
    background-color: #fff;
    border-radius: 4px;
    color: #333
}

.title {
    line-height: 1.5;
    color: #333
}

@media screen and (max-width: 768px) {
    .title.is-2 {
        font-size: 1.5rem
    }

    .title.is-1 {
        font-size: 2rem
    }

    .title.is-4 {
        font-size: 1.25rem
    }

    .title.is-5 {
        font-size: 1.375rem
    }

    .title.is-6 {
        font-size: 1.125rem
    }

    .title.is-7 {
        font-size: 1rem
    }
}

.title.is-1 {
    line-height: 1.318
}

.title.is-2 {
    line-height: 1.33
}

.subtitle {
    line-height: 1.5;
    color: #333
}

.subtitle.is-1 {
    line-height: 1.318
}

.subtitle.is-2 {
    line-height: 1.33
}

.text.is-1 {
    font-size: 1rem
}

.text.is-2 {
    font-size: .9375rem
}

.text.is-3 {
    font-size: .875rem
}

.text.is-4 {
    font-size: .8125rem
}

.text.is-5 {
    font-size: .75rem
}

@media screen and (max-width: 768px) {
    .text.is-1 {
        font-size: .9375rem
    }

    .text.is-3 {
        font-size: .875rem
    }

    .text.is-4 {
        font-size: .8125rem
    }

    .text.is-5 {
        font-size: .75rem
    }
}

.subtext.is-1 {
    font-size: 1rem
}

.subtext.is-2 {
    font-size: .9375rem
}

.subtext.is-3 {
    font-size: .875rem
}

.subtext.is-4 {
    font-size: .8125rem
}

.subtext.is-5 {
    font-size: .75rem
}

div:not(.course_description) .content li + li {
    margin-top: unset
}

div:not(.course_description) .content ul {
    list-style: none;
    margin-left: unset;
    margin-top: unset
}

div:not(.course_description) .content ul ul {
    list-style-type: none;
    margin-top: unset
}

div:not(.course_description) .content ul ul ul {
    list-style-type: none
}

.ac-display-30 {
    line-height: 1.2;
    font-size: 30px
}

.ac-display-30, .ac-header-24 {
    font-weight: 700;
    letter-spacing: -.3px
}

.ac-header-24 {
    line-height: 1.25;
    font-size: 24px
}

.ac-header-22 {
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: -.3px;
    font-size: 22px
}

.ac-header-20 {
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.3px;
    font-size: 20px
}

.ac-header-20.ac-fwb {
    font-weight: 700
}

.ac-header-20.ac-fwm {
    font-weight: 500
}

.ac-body-16, .ac-header-20.ac-fwr {
    font-weight: 400
}

.ac-body-16 {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 16px
}

.ac-body-16.ac-fwb {
    font-weight: 700
}

.ac-body-16.ac-fwm {
    font-weight: 500
}

.ac-body-15, .ac-body-16.ac-fwr {
    font-weight: 400
}

.ac-body-15 {
    line-height: 1.47;
    letter-spacing: -.3px;
    font-size: 15px
}

.ac-body-15.ac-fwb {
    font-weight: 700
}

.ac-body-15.ac-fwm {
    font-weight: 500
}

.ac-body-14, .ac-body-15.ac-fwr {
    font-weight: 400
}

.ac-body-14 {
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px
}

.ac-body-14.ac-fwb {
    font-weight: 700
}

.ac-body-14.ac-fwm {
    font-weight: 500
}

.ac-body-14.ac-fwr, .ac-small-13 {
    font-weight: 400
}

.ac-small-13 {
    line-height: 1.38;
    letter-spacing: -.3px;
    font-size: 13px
}

.ac-small-13.ac-fwb {
    font-weight: 700
}

.ac-small-13.ac-fwm {
    font-weight: 500
}

.ac-small-12, .ac-small-13.ac-fwr {
    font-weight: 400
}

.ac-small-12 {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px
}

.ac-small-12.ac-fwb {
    font-weight: 700
}

.ac-small-12.ac-fwm {
    font-weight: 500
}

.ac-caption, .ac-small-12.ac-fwr {
    font-weight: 400
}

.ac-caption {
    line-height: 1.45;
    letter-spacing: -.3px;
    font-size: 11px
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap
}

.ac-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px
}

.ac-container, .ac-r {
    box-sizing: border-box
}

.ac-r {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -8px
}

.ac-r.reverse {
    flex-direction: row-reverse
}

.ac-cd, .ac-cd-1, .ac-cd-2, .ac-cd-3, .ac-cd-4, .ac-cd-5, .ac-cd-6, .ac-cd-7, .ac-cd-8, .ac-cd-9, .ac-cd-10, .ac-cd-11, .ac-cd-12, .ac-cd-offset-0, .ac-cd-offset-1, .ac-cd-offset-2, .ac-cd-offset-3, .ac-cd-offset-4, .ac-cd-offset-5, .ac-cd-offset-6, .ac-cd-offset-7, .ac-cd-offset-8, .ac-cd-offset-9, .ac-cd-offset-10, .ac-cd-offset-11, .ac-cd-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 8px;
    padding-right: 8px
}

.ac-cd {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.ac-cd-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.ac-cd-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.ac-cd-3 {
    flex-basis: 25%;
    max-width: 25%
}

.ac-cd-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.ac-cd-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.ac-cd-6 {
    flex-basis: 50%;
    max-width: 50%
}

.ac-cd-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.ac-cd-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.ac-cd-9 {
    flex-basis: 75%;
    max-width: 75%
}

.ac-cd-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.ac-cd-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.ac-cd-12 {
    flex-basis: 100%;
    max-width: 100%
}

.ac-cd-offset-auto {
    margin-left: auto;
    margin-right: auto
}

.ac-cd-offset-0 {
    margin-left: 0
}

.ac-cd-offset-1 {
    margin-left: 8.33333333%
}

.ac-cd-offset-2 {
    margin-left: 16.6666666%
}

.ac-cd-offset-3 {
    margin-left: 25%
}

.ac-cd-offset-4 {
    margin-left: 33.33333333%
}

.ac-cd-offset-5 {
    margin-left: 41.66666667%
}

.ac-cd-offset-6 {
    margin-left: 50%
}

.ac-cd-offset-7 {
    margin-left: 58.33333333%
}

.ac-cd-offset-8 {
    margin-left: 66.66666667%
}

.ac-cd-offset-9 {
    margin-left: 75%
}

.ac-cd-offset-10 {
    margin-left: 83.33333333%
}

.ac-cd-offset-11 {
    margin-left: 91.66666667%
}

.start-cd {
    justify-content: flex-start;
    text-align: start
}

.center-cd {
    justify-content: center;
    text-align: center
}

.end-cd {
    justify-content: flex-end;
    text-align: end
}

.top-cd {
    align-items: flex-start
}

.middle-cd {
    align-items: center
}

.bottom-cd {
    align-items: flex-end
}

.around-cd {
    justify-content: space-around
}

.between-cd {
    justify-content: space-between
}

@media screen and (max-width: 1024px) {
    .ac-container {
        padding: 0 24px;
        max-width: 1024px
    }

    .ac-ct, .ac-ct-1, .ac-ct-2, .ac-ct-3, .ac-ct-4, .ac-ct-5, .ac-ct-6, .ac-ct-7, .ac-ct-8, .ac-ct-9, .ac-ct-10, .ac-ct-11, .ac-ct-12, .ac-ct-offset-0, .ac-ct-offset-1, .ac-ct-offset-2, .ac-ct-offset-3, .ac-ct-offset-4, .ac-ct-offset-5, .ac-ct-offset-6, .ac-ct-offset-7, .ac-ct-offset-8, .ac-ct-offset-9, .ac-ct-offset-10, .ac-ct-offset-11, .ac-ct-offset-12, .ac-ct-unit, .ac-ct-unit-1, .ac-ct-unit-2, .ac-ct-unit-3, .ac-ct-unit-4, .ac-ct-unit-5, .ac-ct-unit-6, .ac-ct-unit-7, .ac-ct-unit-8, .ac-ct-unit-offset-0, .ac-ct-unit-offset-1, .ac-ct-unit-offset-2, .ac-ct-unit-offset-3, .ac-ct-unit-offset-4, .ac-ct-unit-offset-5, .ac-ct-unit-offset-6, .ac-ct-unit-offset-7 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: 8px;
        padding-right: 8px
    }

    .ac-ct {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-ct-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .ac-ct-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .ac-ct-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-ct-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .ac-ct-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .ac-ct-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-ct-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .ac-ct-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .ac-ct-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-ct-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .ac-ct-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .ac-ct-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-ct-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-ct-offset-0 {
        margin-left: 0
    }

    .ac-ct-offset-1 {
        margin-left: 8.33333333%
    }

    .ac-ct-offset-2 {
        margin-left: 16.6666666%
    }

    .ac-ct-offset-3 {
        margin-left: 25%
    }

    .ac-ct-offset-4 {
        margin-left: 33.33333333%
    }

    .ac-ct-offset-5 {
        margin-left: 41.66666667%
    }

    .ac-ct-offset-6 {
        margin-left: 50%
    }

    .ac-ct-offset-7 {
        margin-left: 58.33333333%
    }

    .ac-ct-offset-8 {
        margin-left: 66.66666667%
    }

    .ac-ct-offset-9 {
        margin-left: 75%
    }

    .ac-ct-offset-10 {
        margin-left: 83.33333333%
    }

    .ac-ct-offset-11 {
        margin-left: 91.66666667%
    }

    .ac-ct-unit {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-ct-unit-1 {
        flex-basis: 12.5%;
        max-width: 12.5%
    }

    .ac-ct-unit-2 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-ct-unit-3 {
        flex-basis: 37.5%;
        max-width: 37.5%
    }

    .ac-ct-unit-4 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-ct-unit-5 {
        flex-basis: 62.5%;
        max-width: 62.5%
    }

    .ac-ct-unit-6 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-ct-unit-7 {
        flex-basis: 87.5%;
        max-width: 87.5%
    }

    .ac-ct-unit-8 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-ct-unit-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-ct-unit-offset-0 {
        margin-left: 0
    }

    .ac-ct-unit-offset-1 {
        margin-left: 12.5%
    }

    .ac-ct-unit-offset-2 {
        margin-left: 25%
    }

    .ac-ct-unit-offset-3 {
        margin-left: 37.5%
    }

    .ac-ct-unit-offset-4 {
        margin-left: 50%
    }

    .ac-ct-unit-offset-5 {
        margin-left: 62.5%
    }

    .ac-ct-unit-offset-6 {
        margin-left: 75%
    }

    .ac-ct-unit-offset-7 {
        margin-left: 82.5%
    }

    .start-ct {
        text-align: start
    }

    .center-ct, .start-ct {
        justify-content: flex-start
    }

    .center-ct {
        text-align: center
    }

    .end-ct {
        justify-content: flex-end;
        text-align: end
    }

    .top-ct {
        align-items: flex-start
    }

    .middle-ct {
        align-items: center
    }

    .bottom-ct {
        align-items: flex-end
    }

    .around-ct {
        justify-content: space-around
    }

    .between-ct {
        justify-content: space-between
    }
}

@media screen and (max-width: 768px) {
    .ac-container {
        padding: 0 24px;
        max-width: 768px
    }

    .ac-cm, .ac-cm-1, .ac-cm-2, .ac-cm-3, .ac-cm-4, .ac-cm-5, .ac-cm-6, .ac-cm-7, .ac-cm-8, .ac-cm-9, .ac-cm-10, .ac-cm-11, .ac-cm-12, .ac-cm-offset-0, .ac-cm-offset-1, .ac-cm-offset-2, .ac-cm-offset-3, .ac-cm-offset-4, .ac-cm-offset-5, .ac-cm-offset-6, .ac-cm-offset-7, .ac-cm-offset-8, .ac-cm-offset-9, .ac-cm-offset-10, .ac-cm-offset-11, .ac-cm-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: 8px;
        padding-right: 8px
    }

    .ac-cm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-cm-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .ac-cm-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .ac-cm-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-cm-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .ac-cm-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .ac-cm-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-cm-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .ac-cm-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .ac-cm-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-cm-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .ac-cm-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .ac-cm-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-cm-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-cm-offset-0 {
        margin-left: 0
    }

    .ac-cm-offset-1 {
        margin-left: 8.33333333%
    }

    .ac-cm-offset-2 {
        margin-left: 16.6666666%
    }

    .ac-cm-offset-3 {
        margin-left: 25%
    }

    .ac-cm-offset-4 {
        margin-left: 33.33333333%
    }

    .ac-cm-offset-5 {
        margin-left: 41.66666667%
    }

    .ac-cm-offset-6 {
        margin-left: 50%
    }

    .ac-cm-offset-7 {
        margin-left: 58.33333333%
    }

    .ac-cm-offset-8 {
        margin-left: 66.66666667%
    }

    .ac-cm-offset-9 {
        margin-left: 75%
    }

    .ac-cm-offset-10 {
        margin-left: 83.33333333%
    }

    .ac-cm-offset-11 {
        margin-left: 91.66666667%
    }

    .ac-cm-unit {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-cm-unit-1 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-cm-unit-2 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-cm-unit-3 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-cm-unit-4 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-cm-unit-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-cm-unit-offset-0 {
        margin-left: 0
    }

    .ac-cm-unit-offset-1 {
        margin-left: 25%
    }

    .ac-cm-unit-offset-2 {
        margin-left: 50%
    }

    .ac-cm-unit-offset-3 {
        margin-left: 75%
    }

    .start-cm {
        text-align: start
    }

    .center-cm, .start-cm {
        justify-content: flex-start
    }

    .center-cm {
        text-align: center
    }

    .end-cm {
        justify-content: flex-end;
        text-align: end
    }

    .top-cm {
        align-items: flex-start
    }

    .middle-cm {
        align-items: center
    }

    .bottom-cm {
        align-items: flex-end
    }

    .around-cm {
        justify-content: space-around
    }

    .between-cm {
        justify-content: space-between
    }
}

.infd-columns {
    display: flex
}

.infd-columns .infd-column.is-12 {
    width: 100%
}

.infd-columns .infd-column.is-8 {
    width: 66.667%;
    flex: 0 0 auto
}

.infd-columns .infd-column.is-4 {
    width: 33.333%;
    flex: 0 0 auto
}

.infd-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease
}

.infd-icon.circle {
    border-radius: 9999px
}

.infd-icon path {
    transition: background-color .15s ease
}

.infd-icon.mr-4 {
    margin-right: 4px
}

.infd-icon.mr-6 {
    margin-right: 6px
}

.infd-icon.mr-8 {
    margin-right: 8px
}

.infd-icon.ml-4 {
    margin-left: 4px
}

.infd-icon.ml-6 {
    margin-left: 6px
}

.infd-icon.ml-8 {
    margin-left: 8px
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap
}

.e-hover-toggle .hide, .new-comment-editor {
    display: none
}

.pg___questions_detail {
    display: flex;
    flex-direction: column
}

.pg___questions_detail .section__sider {
    position: fixed;
    z-index: 1;
    display: flex;
    margin-top: 57px;
    width: 100%
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .section__sider {
        display: none
    }
}

.pg___questions_detail .section__sider.section__sider--absolute {
    position: absolute;
    bottom: 850px
}

.pg___questions_detail .post__features .ac-button {
    box-shadow: 0 3px 8px 0 rgba(33, 37, 41, .05)
}

.pg___questions_detail .sider__left, .pg___questions_detail .sider__right {
    padding: 0 58px;
    flex: 1 1 260px;
    display: flex
}

.pg___questions_detail .sider__left {
    justify-content: flex-end
}

.pg___questions_detail .sider__space {
    flex: 0 0 750px;
    max-width: 750px
}

.pg___questions_detail .section__sider .post__features {
    display: flex;
    flex-direction: column;
    font-weight: 400
}

.pg___questions_detail .post__features .flex-row {
    position: relative;
    margin-bottom: 12px
}

.pg___questions_detail .post__features .flex-row:not(.feature__status) {
    min-width: 75px
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .post__features .flex-row:not(.feature__status) {
        min-width: 0;
        max-width: 48px
    }
}

.pg___questions_detail .post__features .ac-button {
    width: 84px;
    font-weight: 400
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .post__features .ac-button {
        width: 75px
    }
}

.pg___questions_detail .post__features .features__resolve.ac-button.is-solid {
    font-weight: 500
}

.pg___questions_detail .post__features .features__like.ac-button.liked {
    color: #e5503c;
    background-color: #fff
}

.pg___questions_detail .post__features .message {
    position: absolute;
    left: 99px;
    margin: 4px 0
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .post__features .features__text.text, .pg___questions_detail .post__features .message {
        display: none
    }
}

.pg___questions_detail .comment__features .ac-button.button-rounded svg, .pg___questions_detail .post__features .ac-button.button-rounded svg {
    margin-right: 8px
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .post__features .ac-button.button-rounded svg {
        margin: 0
    }
}

.pg___questions_detail .post__features > button {
    margin-bottom: 12px
}

.pg___questions_detail .community-post-detail__section {
    display: flex;
    flex-direction: row
}

.pg___questions_detail .community-post-detail__answer {
    border-top: 1px solid #f1f3f5;
    border-bottom: 1px solid #f1f3f5;
    background-color: #f8f9fa
}

.pg___questions_detail .section__content {
    flex: 1 1 750px;
    z-index: 2;
    margin: 0 auto;
    max-width: 750px
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .section__content {
        max-width: 100%
    }
}

.pg___questions_detail .community-post-info {
    position: relative;
    padding: 42px 30px
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .community-post-info {
        padding: 36px 32px 32px
    }
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .community-post-info {
        padding: 32px 18px
    }
}

.pg___questions_detail .community-post-info__header {
    border-bottom: 1px solid #f1f3f5
}

.pg___questions_detail .header__title {
    margin-bottom: 10px;
    align-items: center
}

.pg___questions_detail .header__title svg {
    margin-right: 4px;
    position: relative;
    top: 3px
}

.pg___questions_detail .header__title h1 {
    display: inline;
    word-break: break-all;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.42;
    letter-spacing: -.3px;
    color: #212529
}

.pg___questions_detail .community-post-info__header .title-icon {
    display: inline-block;
    height: 34px;
    vertical-align: middle
}

.pg___questions_detail .header__sub-title {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    height: 20px
}

.pg___questions_detail .post__edit-btn, .pg___questions_detail .post__remove-btn {
    color: #616568;
    text-decoration: underline
}

.pg___questions_detail .user-name {
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #495057
}

.pg___questions_detail .sub-title__created-at {
    height: 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.43;
    color: #adb5bd
}

.pg___questions_detail .comment__features .button-rounded.is-outlined.is-white {
    border-color: #dee2e6
}

.pg___questions_detail .comment__features .flex-right .ac-button {
    text-decoration: underline;
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    color: #616568
}

.pg___questions_detail .community-post-info .content__body {
    margin-bottom: 16px
}

.pg___questions_detail .content__sub-info {
    padding: 16px 20px 10px;
    background-color: #f8f9fa;
    border-radius: 8px
}

.pg___questions_detail .sub-info__item {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-size: 14px
}

.pg___questions_detail .sub-info__item:last-child {
    margin-bottom: 0
}

.pg___questions_detail .sub-info__tags .ac-tag {
    margin-right: 8px;
    margin-bottom: 6px;
    height: 26px
}

.pg___questions_detail .tags__no-tags {
    margin: 3px 0 6px
}

.pg___questions_detail .sub-info-label {
    margin: 3px 8px 0 0;
    color: #616568;
    min-width: 60px;
    height: 20px;
    white-space: nowrap
}

.pg___questions_detail .sub-info__content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #3e4042
}

.pg___questions_detail .sub-info__content a {
    text-decoration: underline;
    color: #3e74c6;
    word-break: break-all
}

.pg___questions_detail .sub-info__content svg {
    margin-bottom: -4px;
    min-width: 16px
}

.pg___questions_detail .sub-info__content .ac-tag:hover {
    cursor: default
}

.pg___questions_detail .community-post-info__content .post__features {
    display: none;
    flex-direction: row;
    justify-content: center
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .community-post-info__content .post__features {
        margin-top: 20px;
        display: flex
    }
}

.pg___questions_detail .community-post-info__content .post__features > * {
    margin: 0 8px
}

.pg___questions_detail .community-post-info__content .post__features .button {
    margin-bottom: 0
}

.pg___questions_detail .markdown-body {
    font-family: Noto Sans KR
}

.pg___questions_detail .content__body.markdown-body {
    padding: 16px 0
}

.pg___questions_detail .markdown-body > div {
    overflow-x: auto
}

.pg___questions_detail .answer-info__header {
    padding: 16px 30px 8px
}

.pg___questions_detail .answer-info__header .title-icon {
    height: 42px;
    font-size: 30px;
    font-weight: 500;
    color: #616568
}

.pg___questions_detail .answer-info__header .header__title {
    margin-bottom: 0;
    height: 42px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -.3px;
    color: #616568
}

.pg___questions_detail .answer__comment {
    position: relative;
    margin-bottom: 16px;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    background-color: #fff
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .answer__comment {
        margin-bottom: 10px;
        border-radius: 0
    }
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .answer__comment[data-id=new] {
        margin-bottom: 0
    }
}

.pg___questions_detail .comment__index {
    position: absolute;
    top: 16px;
    left: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #e9bd05;
    border: 1px solid #e2b600;
    color: #fff;
    font-size: 15px;
    font-weight: 700
}

.pg___questions_detail .answer__index {
    position: absolute;
    top: 16px;
    left: -40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #4c59f3;
    border: 1px solid #e2b600;
    color: #fff;
    font-size: 15px;
    font-weight: 700
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .comment__index {
        display: none
    }
}

.pg___questions_detail .comment__card {
    padding: 20px 29px;
    border-bottom: 1px solid #f1f3f5;
    overflow-x: auto
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .comment__card {
        padding: 20px 32px
    }
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .comment__card {
        padding: 24px 18px
    }
}

.pg___questions_detail .comment__card--new {
    padding: 0
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .comment__card--new {
        padding: 0 32px
    }
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .comment__card--new {
        padding: 0 18px
    }
}

.pg___questions_detail .comment__card--new .comment__header {
    padding: 24px 36px;
    border-bottom: none
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .comment__card--new .comment__header {
        padding: 24px
    }
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .comment__card--new .comment__header {
        padding: 24px 4px
    }
}

.pg___questions_detail .comment__card--new .comment__body {
    padding: 0
}

.pg___questions_detail .comment__no-user {
    margin: 24px 0;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    color: #1b1c1d
}

.pg___questions_detail .comment__no-user:hover {
    cursor: pointer;
    opacity: .7
}

.pg___questions_detail .comment__footer {
    margin: 12px 12px 12px 0
}

.pg___questions_detail .re-comment {
    padding: 0 30px 20px;
    position: relative
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .re-comment {
        padding: 0 34px 20px
    }
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .re-comment {
        padding: 0 18px 20px
    }
}

.pg___questions_detail .re-comment:before {
    position: absolute;
    left: 54px;
    z-index: 1;
    content: "";
    height: 100%;
    width: 2px;
    background-color: #dee2e6
}

@media screen and (max-width: 1024px) {
    .pg___questions_detail .re-comment:before {
        left: 58px
    }
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .re-comment:before {
        left: 42px
    }
}

.pg___questions_detail .re-comment--target {
    background-color: #fcfcfc;
    -webkit-animation: re-comment-background 3s ease-in;
    animation: re-comment-background 3s ease-in
}

@-webkit-keyframes re-comment-background {
    0% {
        background-color: #eef8f9
    }
    to {
        background-color: #fcfcfc
    }
}

@keyframes re-comment-background {
    0% {
        background-color: #eef8f9
    }
    to {
        background-color: #fcfcfc
    }
}

.pg___questions_detail .re-comment__header {
    padding: 8px 30px;
    align-items: center
}

.pg___questions_detail .re-comment__title {
    font-size: 16px;
    font-weight: 700;
    color: #1b1c1d
}

.pg___questions_detail .re-comment__content {
    width: 100%
}

.pg___questions_detail .re-comment__fold-button {
    margin-left: auto
}

.pg___questions_detail .comment__re-comment {
    padding-bottom: 12px;
    border-radius: 0 0 8px 8px;
    background-color: #fcfcfc
}

@media screen and (max-width: 767px) {
    .pg___questions_detail .comment__re-comment {
        border-radius: 0
    }
}

.pg___questions_detail .re-comment__body {
    padding: 0;
    width: 100%;
    word-break: break-all
}

.pg___questions_detail .re-comment__footer {
    margin-top: 8px;
    height: 20px
}

.pg___questions_detail .re-comment__footer .ac-button {
    margin-right: 16px;
    padding: 0;
    height: 20px;
    color: #616568;
    text-decoration: underline
}

.pg___questions_detail .body--fold {
    display: none
}

.pg___questions_detail .re-comment__open-editor-button-container {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    border-top: 1px solid #f1f3f5
}

.pg___questions_detail .re-comment__open-editor-button {
    text-decoration: underline
}

.pg___questions_detail .re-comment__form {
    padding: 0 30px
}

.pg___questions_detail .re-comment__form-footer {
    margin-top: 12px
}

.pg___questions_detail .re-comment__form--is-hidden {
    display: none
}

.pg___questions_detail .answer__comment .tox.tox-tinymce, .pg___questions_detail .comment__re-comment .tox.tox-tinymce {
    border: 1px solid #e9ecef
}

.pg___questions_detail .answer__comment .tox .tox-statusbar, .pg___questions_detail .comment__re-comment .tox .tox-statusbar {
    border-top: 1px solid #e9ecef
}

.pg___questions_detail .re-comment__profile {
    position: relative;
    z-index: 2;
    margin-right: 8px;
    border: 1px solid #f1f3f5;
    width: 48px;
    height: 48px;
    border-radius: 100px
}

.pg___questions_detail .re-comment__info {
    align-items: center;
    margin: 7px 0 8px
}

.pg___questions_detail .re-comment__writer.ac-tag.ac-button {
    margin: 0 8px 0 0;
    padding: 3px 8px;
    height: 24px;
    background: none;
    border: 1px solid #dee2e6;
    border-radius: 0;
    font-size: 12px
}

.pg___questions_detail .re-comment__writer .ac-tag__hashtag {
    display: none
}

.pg___questions_detail .re-comment__user-name {
    font-size: 14px;
    color: #1b1c1d;
    line-height: 1.43;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: -.3px
}

.pg___questions_detail .re-comment__updated-at {
    font-size: 14px;
    color: #abb0b5;
    line-height: 1.43;
    font-weight: 400
}

.pg___questions_detail .answer-modal .modal-card-body {
    max-height: 500px
}

.pg___questions_detail .answer-modal .modal-card-foot {
    display: flex;
    justify-content: flex-end
}

.pg___questions_detail .modal .question-modal .form__item.form__item--type {
    display: none
}

.comment__header {
    padding-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid #f1f3f5
}

.comment__user-follow {
    margin-left: 8px
}

.comment__user-follow:hover {
    cursor: pointer
}

.comment__user-profile {
    margin-right: 8px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    border: 1px solid #f1f3f5;
    -o-object-fit: cover;
    object-fit: cover
}

.comment__user-name {
    margin-bottom: 4px;
    font-size: 15px;
    font-weight: 700;
    color: #1b1c1d;
    line-height: 1.47
}

.comment__user-name:hover {
    text-decoration: underline
}

.comment__card--new .comment__user-name:hover {
    text-decoration: none
}

.comment__updated-at {
    font-size: 13px;
    font-weight: 400;
    color: #abb0b5;
    letter-spacing: -.3px;
    line-height: 1.38
}

.comment__body {
    padding: 20px 0 0
}

.comment__features {
    margin-top: 32px
}

.comment__like .ac-button.button-rounded {
    border-radius: 100px
}

.comment__features .flex-right .ac-button {
    margin-left: 16px;
    padding: 0
}

.section__content.section__content--footer {
    flex: 1 1 1108px;
    max-width: 1115px
}

@media screen and (max-width: 1024px) {
    .section__content.section__content--footer {
        max-width: 100%
    }
}

.similar-community-posts-info {
    padding: 42px 0
}

.similar-community-posts-info__title {
    margin: 0 auto 24px;
    width: 971px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.39;
    letter-spacing: -.3px;
    color: #1b1c1d
}

@media screen and (max-width: 1024px) {
    .similar-community-posts-info__title {
        margin-left: 32px;
        max-width: 100%
    }
}

.similar-community-posts__index {
    margin-right: 8px;
    color: #00c471
}

.similar-post__title {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 16px;
    margin-bottom: 8px;
    height: 24px
}

.similar-post__title.ac-fwb {
    font-weight: 700
}

.similar-post__title.ac-fwm {
    font-weight: 500
}

.similar-post__title.ac-fwr {
    font-weight: 400
}

.similar-post__title p {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    width: 100%;
    color: #1b1c1d
}

.similar-community-posts-list {
    margin: 0 32px;
    width: 971px;
    overflow-x: hidden;
    white-space: nowrap
}

@media screen and (max-width: 1024px) {
    .similar-community-posts-list {
        margin: 0;
        width: 100%;
        overflow-x: scroll
    }
}

.similar-community-posts-list::-webkit-scrollbar {
    display: none
}

.similar-community-posts__move-page.ac-button.is-md {
    align-self: center
}

@media screen and (max-width: 1024px) {
    .similar-community-posts__move-page.ac-button.is-md {
        display: none
    }
}

.similar-community-posts__move-page--disabled {
    opacity: 0;
    pointer-events: none
}

.similar-post {
    margin-right: 32px;
    display: inline-block;
    width: 217px;
    transition: 1s
}

@media screen and (max-width: 1024px) {
    .similar-post:first-child {
        margin-left: 32px
    }
}

.similar-post__body {
    display: -webkit-box;
    margin-bottom: 24px;
    height: 80px;
    letter-spacing: -.3px;
    word-break: break-all;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    word-wrap: break-word
}

.similar-post__body * {
    width: 100%;
    line-height: 1.43;
    font-size: 14px;
    font-weight: 400;
    color: #3e4042
}

.similar-community-posts-list-container {
    margin-bottom: 40px
}

.similar-community-posts-info__pagination.flex-row {
    margin: 0 auto;
    width: 45px
}

@media screen and (max-width: 1024px) {
    .similar-community-posts-info__pagination.flex-row {
        display: none
    }
}

.pagination__page-wrapper {
    margin: 0 2px
}

.pagination__page {
    padding: 0;
    width: 7px;
    height: 7px;
    border: none;
    background-color: #dee2e6;
    border-radius: 100px
}

.pagination__page:hover {
    cursor: pointer;
    opacity: .7
}

.pagination__page--is-active {
    width: 22px;
    background-color: #00c471
}

.pagination__page--is-hidden {
    display: none
}

.similar-post__footer * {
    font-size: 13px;
    color: #858a8d
}

.similar-post:last-child {
    margin-right: 0
}

.similar-post__footer .resolved-text {
    display: inline-block;
    color: #00c471
}

.vertical-line {
    margin: 0 16px;
    width: 1px;
    height: 16px;
    background-color: #dee2e6
}

.flex-row {
    display: flex;
    flex-direction: row
}

.flex-column {
    display: flex;
    flex-direction: column
}

.flex-right {
    display: flex;
    align-items: center;
    margin-left: auto
}

.ac-button.button-rounded {
    padding: 11px;
    border-radius: 8px
}

.ac-button.button-rounded:hover {
    opacity: .7
}

@media screen and (max-width: 1024px) {
    .ac-button.button-rounded.is-outlined, .ac-button.button-rounded.is-solid {
        font-weight: 500
    }
}

.ac-button.button-rounded.is-outlined.is-white {
    color: #1b1c1d;
    border-color: #e9ecef;
    background-color: #fff
}

.ac-button.button-rounded.is-solid.is-red {
    color: #e5503c;
    background-color: #fef6f5
}

.message {
    padding: 7px 12px;
    border-radius: 5px;
    background-color: #212529;
    color: #fff;
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: -.3px;
    white-space: nowrap;
    z-index: 4
}

.message:before {
    position: absolute;
    content: "";
    left: -3.5px;
    top: calc(50% - 4.5px);
    width: 9px;
    height: 9px;
    transform: rotate(-45deg);
    border-radius: 2px;
    background-color: #212529
}