@font-face {
    font-family: Noto Sans KR;
    font-weight: 700;
    src: local("Noto Sans KR Bold"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-700.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 500;
    src: local("Noto Sans KR Medium"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-500.ttf) format("truetype")
}

@font-face {
    font-family: Noto Sans KR;
    font-weight: 400;
    src: local("Noto Sans KR Regular"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.woff2) format("woff2"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.woff) format("woff"), url(https://cdn.inflearn.com/font/noto-sans-kr-v12-korean_latin-regular.ttf) format("truetype")
}

@font-face {
    font-family: D2 coding;
    font-style: normal;
    font-weight: 400;
    src: local("D2Coding"), url(https://cdn.inflearn.com/font/D2Coding.woff2) format("woff2"), url(https://cdn.inflearn.com/font/D2Coding.woff) format("woff"), url(https://cdn.inflearn.com/font/D2Coding.ttf) format("truetype")
}

.fw-bold {
    font-weight: 600
}

.fw-normal {
    font-weight: 500
}

.fw-light {
    font-weight: 300
}

.space-inset-2 {
    padding: 4px
}

.space-inset-4 {
    padding: 8px
}

.space-inset-6 {
    padding: 12px
}

.space-inset-8 {
    padding: 16px
}

.space-inset-10 {
    padding: 20px
}

.space-inset-12 {
    padding: 24px
}

.space-inset-stretch-2 {
    padding: 4px 8px
}

.space-inset-stretch-4 {
    padding: 8px 12px
}

.space-inset-stretch-5 {
    padding: 10px 16px
}

.space-inset-stretch-6 {
    padding: 12px 16px
}

.space-inset-stretch-8, .space-inset-stretch-12 {
    padding: 16px 24px
}

.space-inline-right-1 {
    padding-right: 2px
}

.space-inline-right-2 {
    padding-right: 4px
}

.space-inline-right-4 {
    padding-right: 8px
}

.space-inline-right-6 {
    padding-right: 12px
}

.space-inline-right-8 {
    padding-right: 16px
}

.space-inline-right-13 {
    padding-right: 36px
}

.space-inline-left-1 {
    padding-left: 2px
}

.space-inline-left-2 {
    padding-left: 4px
}

.space-inline-left-4 {
    padding-left: 8px
}

.space-inline-left-6 {
    padding-left: 12px
}

.space-inline-left-8 {
    padding-left: 8px
}

.space-inline-left-13 {
    padding-left: 36px
}

.space-stack-1 {
    margin-bottom: 2px
}

.space-stack-2 {
    margin-bottom: 4px
}

.space-stack-4 {
    margin-bottom: 8px
}

.space-stack-6 {
    margin-bottom: 12px
}

.space-stack-8 {
    margin-bottom: 16px
}

.space-stack-10 {
    margin-bottom: 20px
}

.space-stack-12 {
    margin-bottom: 24px
}

.space-stack-16 {
    margin-bottom: 32px
}

.space-stack-18 {
    margin-bottom: 36px
}

.space-stack-24 {
    margin-bottom: 48px
}

.space-stack-28 {
    margin-bottom: 56px
}

.space-stack-32 {
    margin-bottom: 64px
}

.space-stack-40 {
    margin-bottom: 80px
}

.container {
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto
}

.container.is-fluid {
    max-width: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1180px
    }
}

.button .icon {
    width: 1rem;
    height: 1rem
}

.button .icon:first-child:last-child {
    margin-left: unset;
    margin-right: unset
}

.button .icon:last-child:not(:first-child) {
    margin-left: .25rem;
    margin-right: unset
}

.button.is-brand {
    background: #3E8ED0;
    color: #fff
}

.input {
    height: auto
}

.icon {
    box-sizing: content-box;
    font-size: inherit;
    width: 1rem;
    height: 1rem;
    line-height: 1
}

.icon.circle {
    border-radius: 50%
}

.box {
    background-color: #fff;
    border-radius: 4px;
    color: #333
}

.title {
    line-height: 1.5;
    color: #333
}

@media screen and (max-width: 768px) {
    .title.is-2 {
        font-size: 1.5rem
    }

    .title.is-1 {
        font-size: 2rem
    }

    .title.is-4 {
        font-size: 1.25rem
    }

    .title.is-5 {
        font-size: 1.375rem
    }

    .title.is-6 {
        font-size: 1.125rem
    }

    .title.is-7 {
        font-size: 1rem
    }
}

.title.is-1 {
    line-height: 1.318
}

.title.is-2 {
    line-height: 1.33
}

.subtitle {
    line-height: 1.5;
    color: #333
}

.subtitle.is-1 {
    line-height: 1.318
}

.subtitle.is-2 {
    line-height: 1.33
}

.text.is-1 {
    font-size: 1rem
}

.text.is-2 {
    font-size: .9375rem
}

.text.is-3 {
    font-size: .875rem
}

.text.is-4 {
    font-size: .8125rem
}

.text.is-5 {
    font-size: .75rem
}

@media screen and (max-width: 768px) {
    .text.is-1 {
        font-size: .9375rem
    }

    .text.is-3 {
        font-size: .875rem
    }

    .text.is-4 {
        font-size: .8125rem
    }

    .text.is-5 {
        font-size: .75rem
    }
}

.subtext.is-1 {
    font-size: 1rem
}

.subtext.is-2 {
    font-size: .9375rem
}

.subtext.is-3 {
    font-size: .875rem
}

.subtext.is-4 {
    font-size: .8125rem
}

.subtext.is-5 {
    font-size: .75rem
}

div:not(.course_description) .content li + li {
    margin-top: unset
}

div:not(.course_description) .content ul {
    list-style: none;
    margin-left: unset;
    margin-top: unset
}

div:not(.course_description) .content ul ul {
    list-style-type: none;
    margin-top: unset
}

div:not(.course_description) .content ul ul ul {
    list-style-type: none
}

.ac-display-30 {
    line-height: 1.2;
    font-size: 30px
}

.ac-display-30, .ac-header-24 {
    font-weight: 700;
    letter-spacing: -.3px
}

.ac-header-24 {
    line-height: 1.25;
    font-size: 24px
}

.ac-header-22 {
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: -.3px;
    font-size: 22px
}

.ac-header-20 {
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: -.3px;
    font-size: 20px
}

.ac-header-20.ac-fwb {
    font-weight: 700
}

.ac-header-20.ac-fwm {
    font-weight: 500
}

.ac-body-16, .ac-header-20.ac-fwr {
    font-weight: 400
}

.ac-body-16 {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 16px
}

.ac-body-16.ac-fwb {
    font-weight: 700
}

.ac-body-16.ac-fwm {
    font-weight: 500
}

.ac-body-15, .ac-body-16.ac-fwr {
    font-weight: 400
}

.ac-body-15 {
    line-height: 1.47;
    letter-spacing: -.3px;
    font-size: 15px
}

.ac-body-15.ac-fwb {
    font-weight: 700
}

.ac-body-15.ac-fwm {
    font-weight: 500
}

.ac-body-14, .ac-body-15.ac-fwr {
    font-weight: 400
}

.ac-body-14 {
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px
}

.ac-body-14.ac-fwb {
    font-weight: 700
}

.ac-body-14.ac-fwm {
    font-weight: 500
}

.ac-body-14.ac-fwr, .ac-small-13 {
    font-weight: 400
}

.ac-small-13 {
    line-height: 1.38;
    letter-spacing: -.3px;
    font-size: 13px
}

.ac-small-13.ac-fwb {
    font-weight: 700
}

.ac-small-13.ac-fwm {
    font-weight: 500
}

.ac-small-12, .ac-small-13.ac-fwr {
    font-weight: 400
}

.ac-small-12 {
    line-height: 1.5;
    letter-spacing: -.3px;
    font-size: 12px
}

.ac-small-12.ac-fwb {
    font-weight: 700
}

.ac-small-12.ac-fwm {
    font-weight: 500
}

.ac-caption, .ac-small-12.ac-fwr {
    font-weight: 400
}

.ac-caption {
    line-height: 1.45;
    letter-spacing: -.3px;
    font-size: 11px
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: nowrap
}

.ac-container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px
}

.ac-container, .ac-r {
    box-sizing: border-box
}

.ac-r {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -8px
}

.ac-r.reverse {
    flex-direction: row-reverse
}

.ac-cd, .ac-cd-1, .ac-cd-2, .ac-cd-3, .ac-cd-4, .ac-cd-5, .ac-cd-6, .ac-cd-7, .ac-cd-8, .ac-cd-9, .ac-cd-10, .ac-cd-11, .ac-cd-12, .ac-cd-offset-0, .ac-cd-offset-1, .ac-cd-offset-2, .ac-cd-offset-3, .ac-cd-offset-4, .ac-cd-offset-5, .ac-cd-offset-6, .ac-cd-offset-7, .ac-cd-offset-8, .ac-cd-offset-9, .ac-cd-offset-10, .ac-cd-offset-11, .ac-cd-offset-12 {
    box-sizing: border-box;
    flex: 0 0 auto;
    padding-left: 8px;
    padding-right: 8px
}

.ac-cd {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%
}

.ac-cd-1 {
    flex-basis: 8.33333333%;
    max-width: 8.33333333%
}

.ac-cd-2 {
    flex-basis: 16.66666667%;
    max-width: 16.66666667%
}

.ac-cd-3 {
    flex-basis: 25%;
    max-width: 25%
}

.ac-cd-4 {
    flex-basis: 33.33333333%;
    max-width: 33.33333333%
}

.ac-cd-5 {
    flex-basis: 41.66666667%;
    max-width: 41.66666667%
}

.ac-cd-6 {
    flex-basis: 50%;
    max-width: 50%
}

.ac-cd-7 {
    flex-basis: 58.33333333%;
    max-width: 58.33333333%
}

.ac-cd-8 {
    flex-basis: 66.66666667%;
    max-width: 66.66666667%
}

.ac-cd-9 {
    flex-basis: 75%;
    max-width: 75%
}

.ac-cd-10 {
    flex-basis: 83.33333333%;
    max-width: 83.33333333%
}

.ac-cd-11 {
    flex-basis: 91.66666667%;
    max-width: 91.66666667%
}

.ac-cd-12 {
    flex-basis: 100%;
    max-width: 100%
}

.ac-cd-offset-auto {
    margin-left: auto;
    margin-right: auto
}

.ac-cd-offset-0 {
    margin-left: 0
}

.ac-cd-offset-1 {
    margin-left: 8.33333333%
}

.ac-cd-offset-2 {
    margin-left: 16.6666666%
}

.ac-cd-offset-3 {
    margin-left: 25%
}

.ac-cd-offset-4 {
    margin-left: 33.33333333%
}

.ac-cd-offset-5 {
    margin-left: 41.66666667%
}

.ac-cd-offset-6 {
    margin-left: 50%
}

.ac-cd-offset-7 {
    margin-left: 58.33333333%
}

.ac-cd-offset-8 {
    margin-left: 66.66666667%
}

.ac-cd-offset-9 {
    margin-left: 75%
}

.ac-cd-offset-10 {
    margin-left: 83.33333333%
}

.ac-cd-offset-11 {
    margin-left: 91.66666667%
}

.start-cd {
    justify-content: flex-start;
    text-align: start
}

.center-cd {
    justify-content: center;
    text-align: center
}

.end-cd {
    justify-content: flex-end;
    text-align: end
}

.top-cd {
    align-items: flex-start
}

.middle-cd {
    align-items: center
}

.bottom-cd {
    align-items: flex-end
}

.around-cd {
    justify-content: space-around
}

.between-cd {
    justify-content: space-between
}

@media screen and (max-width: 1024px) {
    .ac-container {
        padding: 0 24px;
        max-width: 1024px
    }

    .ac-ct, .ac-ct-1, .ac-ct-2, .ac-ct-3, .ac-ct-4, .ac-ct-5, .ac-ct-6, .ac-ct-7, .ac-ct-8, .ac-ct-9, .ac-ct-10, .ac-ct-11, .ac-ct-12, .ac-ct-offset-0, .ac-ct-offset-1, .ac-ct-offset-2, .ac-ct-offset-3, .ac-ct-offset-4, .ac-ct-offset-5, .ac-ct-offset-6, .ac-ct-offset-7, .ac-ct-offset-8, .ac-ct-offset-9, .ac-ct-offset-10, .ac-ct-offset-11, .ac-ct-offset-12, .ac-ct-unit, .ac-ct-unit-1, .ac-ct-unit-2, .ac-ct-unit-3, .ac-ct-unit-4, .ac-ct-unit-5, .ac-ct-unit-6, .ac-ct-unit-7, .ac-ct-unit-8, .ac-ct-unit-offset-0, .ac-ct-unit-offset-1, .ac-ct-unit-offset-2, .ac-ct-unit-offset-3, .ac-ct-unit-offset-4, .ac-ct-unit-offset-5, .ac-ct-unit-offset-6, .ac-ct-unit-offset-7 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: 8px;
        padding-right: 8px
    }

    .ac-ct {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-ct-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .ac-ct-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .ac-ct-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-ct-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .ac-ct-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .ac-ct-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-ct-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .ac-ct-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .ac-ct-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-ct-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .ac-ct-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .ac-ct-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-ct-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-ct-offset-0 {
        margin-left: 0
    }

    .ac-ct-offset-1 {
        margin-left: 8.33333333%
    }

    .ac-ct-offset-2 {
        margin-left: 16.6666666%
    }

    .ac-ct-offset-3 {
        margin-left: 25%
    }

    .ac-ct-offset-4 {
        margin-left: 33.33333333%
    }

    .ac-ct-offset-5 {
        margin-left: 41.66666667%
    }

    .ac-ct-offset-6 {
        margin-left: 50%
    }

    .ac-ct-offset-7 {
        margin-left: 58.33333333%
    }

    .ac-ct-offset-8 {
        margin-left: 66.66666667%
    }

    .ac-ct-offset-9 {
        margin-left: 75%
    }

    .ac-ct-offset-10 {
        margin-left: 83.33333333%
    }

    .ac-ct-offset-11 {
        margin-left: 91.66666667%
    }

    .ac-ct-unit {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-ct-unit-1 {
        flex-basis: 12.5%;
        max-width: 12.5%
    }

    .ac-ct-unit-2 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-ct-unit-3 {
        flex-basis: 37.5%;
        max-width: 37.5%
    }

    .ac-ct-unit-4 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-ct-unit-5 {
        flex-basis: 62.5%;
        max-width: 62.5%
    }

    .ac-ct-unit-6 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-ct-unit-7 {
        flex-basis: 87.5%;
        max-width: 87.5%
    }

    .ac-ct-unit-8 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-ct-unit-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-ct-unit-offset-0 {
        margin-left: 0
    }

    .ac-ct-unit-offset-1 {
        margin-left: 12.5%
    }

    .ac-ct-unit-offset-2 {
        margin-left: 25%
    }

    .ac-ct-unit-offset-3 {
        margin-left: 37.5%
    }

    .ac-ct-unit-offset-4 {
        margin-left: 50%
    }

    .ac-ct-unit-offset-5 {
        margin-left: 62.5%
    }

    .ac-ct-unit-offset-6 {
        margin-left: 75%
    }

    .ac-ct-unit-offset-7 {
        margin-left: 82.5%
    }

    .start-ct {
        text-align: start
    }

    .center-ct, .start-ct {
        justify-content: flex-start
    }

    .center-ct {
        text-align: center
    }

    .end-ct {
        justify-content: flex-end;
        text-align: end
    }

    .top-ct {
        align-items: flex-start
    }

    .middle-ct {
        align-items: center
    }

    .bottom-ct {
        align-items: flex-end
    }

    .around-ct {
        justify-content: space-around
    }

    .between-ct {
        justify-content: space-between
    }
}

@media screen and (max-width: 768px) {
    .ac-container {
        padding: 0 24px;
        max-width: 768px
    }

    .ac-cm, .ac-cm-1, .ac-cm-2, .ac-cm-3, .ac-cm-4, .ac-cm-5, .ac-cm-6, .ac-cm-7, .ac-cm-8, .ac-cm-9, .ac-cm-10, .ac-cm-11, .ac-cm-12, .ac-cm-offset-0, .ac-cm-offset-1, .ac-cm-offset-2, .ac-cm-offset-3, .ac-cm-offset-4, .ac-cm-offset-5, .ac-cm-offset-6, .ac-cm-offset-7, .ac-cm-offset-8, .ac-cm-offset-9, .ac-cm-offset-10, .ac-cm-offset-11, .ac-cm-offset-12 {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-left: 8px;
        padding-right: 8px
    }

    .ac-cm {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-cm-1 {
        flex-basis: 8.33333333%;
        max-width: 8.33333333%
    }

    .ac-cm-2 {
        flex-basis: 16.66666667%;
        max-width: 16.66666667%
    }

    .ac-cm-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-cm-4 {
        flex-basis: 33.33333333%;
        max-width: 33.33333333%
    }

    .ac-cm-5 {
        flex-basis: 41.66666667%;
        max-width: 41.66666667%
    }

    .ac-cm-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-cm-7 {
        flex-basis: 58.33333333%;
        max-width: 58.33333333%
    }

    .ac-cm-8 {
        flex-basis: 66.66666667%;
        max-width: 66.66666667%
    }

    .ac-cm-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-cm-10 {
        flex-basis: 83.33333333%;
        max-width: 83.33333333%
    }

    .ac-cm-11 {
        flex-basis: 91.66666667%;
        max-width: 91.66666667%
    }

    .ac-cm-12 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-cm-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-cm-offset-0 {
        margin-left: 0
    }

    .ac-cm-offset-1 {
        margin-left: 8.33333333%
    }

    .ac-cm-offset-2 {
        margin-left: 16.6666666%
    }

    .ac-cm-offset-3 {
        margin-left: 25%
    }

    .ac-cm-offset-4 {
        margin-left: 33.33333333%
    }

    .ac-cm-offset-5 {
        margin-left: 41.66666667%
    }

    .ac-cm-offset-6 {
        margin-left: 50%
    }

    .ac-cm-offset-7 {
        margin-left: 58.33333333%
    }

    .ac-cm-offset-8 {
        margin-left: 66.66666667%
    }

    .ac-cm-offset-9 {
        margin-left: 75%
    }

    .ac-cm-offset-10 {
        margin-left: 83.33333333%
    }

    .ac-cm-offset-11 {
        margin-left: 91.66666667%
    }

    .ac-cm-unit {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%
    }

    .ac-cm-unit-1 {
        flex-basis: 25%;
        max-width: 25%
    }

    .ac-cm-unit-2 {
        flex-basis: 50%;
        max-width: 50%
    }

    .ac-cm-unit-3 {
        flex-basis: 75%;
        max-width: 75%
    }

    .ac-cm-unit-4 {
        flex-basis: 100%;
        max-width: 100%
    }

    .ac-cm-unit-offset-auto {
        margin-left: auto;
        margin-right: auto
    }

    .ac-cm-unit-offset-0 {
        margin-left: 0
    }

    .ac-cm-unit-offset-1 {
        margin-left: 25%
    }

    .ac-cm-unit-offset-2 {
        margin-left: 50%
    }

    .ac-cm-unit-offset-3 {
        margin-left: 75%
    }

    .start-cm {
        text-align: start
    }

    .center-cm, .start-cm {
        justify-content: flex-start
    }

    .center-cm {
        text-align: center
    }

    .end-cm {
        justify-content: flex-end;
        text-align: end
    }

    .top-cm {
        align-items: flex-start
    }

    .middle-cm {
        align-items: center
    }

    .bottom-cm {
        align-items: flex-end
    }

    .around-cm {
        justify-content: space-around
    }

    .between-cm {
        justify-content: space-between
    }
}

.infd-columns {
    display: flex
}

.infd-columns .infd-column.is-12 {
    width: 100%
}

.infd-columns .infd-column.is-8 {
    width: 66.667%;
    flex: 0 0 auto
}

.infd-columns .infd-column.is-4 {
    width: 33.333%;
    flex: 0 0 auto
}

.infd-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color .15s ease
}

.infd-icon.circle {
    border-radius: 9999px
}

.infd-icon path {
    transition: background-color .15s ease
}

.infd-icon.mr-4 {
    margin-right: 4px
}

.infd-icon.mr-6 {
    margin-right: 6px
}

.infd-icon.mr-8 {
    margin-right: 8px
}

.infd-icon.ml-4 {
    margin-left: 4px
}

.infd-icon.ml-6 {
    margin-left: 6px
}

.infd-icon.ml-8 {
    margin-left: 8px
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap
}

.posts-by-type ul.status {
    display: flex;
    border-bottom: 1px solid #dee2e6
}

.posts-by-type ul.status .tab-button {
    font-size: 16px
}

.posts-by-type ul.status .active {
    position: relative
}

.posts-by-type ul.status .active .tab-button {
    color: #1b1c1d;
    font-weight: 700
}

.posts-by-type ul.status .active:after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #1b1c1d
}

.posts-by-type form.search {
    padding: 20px 0 38px
}

@media screen and (max-width: 1024px) {
    .posts-by-type form.search {
        padding: 20px 0 40px
    }
}

@media screen and (max-width: 767px) {
    .posts-by-type form.search {
        padding: 20px 0 22px
    }
}

.posts-by-type form.search .input-tags__description {
    display: none
}

.posts-by-type form.search .search-item {
    display: flex;
    margin-bottom: 10px
}

.posts-by-type form.search .search-item .ac-input-with-item {
    width: 100%;
    height: 48px
}

.posts-by-type form.search .search-item > .ac-button {
    margin-left: 16px;
    height: 48px
}

.posts-by-type .search-by-text {
    align-items: center
}

.posts-by-type .search-by-text svg, .posts-by-type .search-form__reset svg {
    margin-right: 12px
}

@media screen and (max-width: 767px) {
    .posts-by-type .search-form__reset, .posts-by-type .search-form__search {
        display: none
    }
}

.posts-by-type .search-form__reset {
    color: #1b1c1d
}

.posts-by-type .search-by-tag-box {
    width: 100%
}

.posts-by-type .order-mb {
    display: none
}

@media screen and (max-width: 767px) {
    .posts-by-type .order-mb {
        display: block
    }
}

.posts-by-type .order-mb > select {
    font-size: 14px;
    color: #616568
}

.posts-by-type .order-mb:after {
    top: 55%;
    border-color: #616568;
    border-style: solid;
    border-width: 0 0 2px 2px
}

.posts-by-type .order-pc {
    display: flex;
    align-items: center
}

.posts-by-type .order-pc path {
    fill: #abb0b5
}

.posts-by-type .order-pc .ac-button {
    padding: 0 6px;
    height: 28px
}

@media screen and (max-width: 767px) {
    .posts-by-type .order-pc .ac-button {
        display: none
    }
}

.posts-by-type .order-pc .active path {
    fill: #3E8ED0
}

.posts-by-type .order-pc .active .ac-button {
    font-weight: 700;
    color: #1b1c1d
}

.posts-by-type .community-header {
    padding: 24px 0;
    width: 100%;
    background-color: #333b3d
}

@media screen and (max-width: 1024px) {
    .posts-by-type .community-header {
        padding: 24px 32px
    }
}

.posts-by-type .community-header__content {
    margin: 0 auto;
    max-width: 1160px
}

.posts-by-type .community-header__title {
    height: 20px;
    font-size: 24px;
    font-weight: 700;
    line-height: .71;
    color: #fff
}

@media screen and (max-width: 767px) {
    .posts-by-type .community-header__title {
        font-size: 20px
    }
}

.posts-by-type .community-header__sub-title {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #fff
}

@media screen and (max-width: 767px) {
    .posts-by-type .community-header__sub-title {
        font-size: 14px
    }
}

.posts-by-type .community-body {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1160px
}

.posts-by-type .community-body__navigation {
    flex: 1 1 172px;
    max-width: 172px;
    margin-right: 24px
}

@media screen and (max-width: 1024px) {
    .posts-by-type .community-body__navigation {
        display: none
    }
}

.posts-by-type .navigation {
    padding: .75rem
}

.posts-by-type .navigation__group-name {
    margin-bottom: 1em;
    height: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #adb5bd
}

.posts-by-type .navigation__menu {
    padding: .5em .75em
}

.posts-by-type .navigation__menu:hover {
    opacity: .7
}

.posts-by-type .navigation__menu a {
    font-size: 16px;
    color: #343a40;
    font-weight: 400;
    line-height: 1.5
}

.posts-by-type .navigation__menu--selected a {
    font-weight: 700;
    color: #3E8ED0
}

.posts-by-type .navigation__menu .ac-icon--new {
    margin-top: 3px;
    vertical-align: top
}

.posts-by-type .community-body__content {
    padding: 32px 0 64px;
    max-width: 100%;
    flex: 1 1 728px;
    display: flex;
    flex-direction: column
}

@media screen and (max-width: 1024px) {
    .posts-by-type .community-body__content {
        padding: 32px 32px 64px
    }
}

@media screen and (max-width: 767px) {
    .posts-by-type .community-body__content {
        padding: 24px 18px 48px
    }
}

.posts-by-type .tab-button {
    height: 45px;
    font-weight: 500;
    color: #abb0b5
}

.posts-by-type .tab-button:hover {
    cursor: pointer;
    color: #868e96
}

.posts-by-type .question-list-container {
    margin-bottom: 40px
}

.posts-by-type .question-list-container__content--empty {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    color: #1b1c1d
}

@media screen and (max-width: 767px) {
    .posts-by-type .question-list-container__content--empty {
        font-size: 18px
    }
}

.posts-by-type .posts-container-header {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid #dee2e6
}

.posts-by-type .posts-container-header__button-cover {
    display: inline-flex;
    align-items: center;
    margin-left: auto
}

.posts-by-type .posts-container-header__button .infd-icon {
    width: 16px;
    height: 16px;
    margin-right: 8px
}

@media screen and (max-width: 767px) {
    .posts-by-type .posts-container-header__button .infd-icon {
        margin: 0
    }
}

@media screen and (max-width: 767px) {
    .posts-by-type .posts-container-header__button-text {
        display: none
    }
}

.posts-by-type .features__new-question {
    color: #fff;
    margin-left: 8px
}

.posts-by-type .features__new-question.ac-button.is-solid.is-gray {
    background-color: #3e4042
}

.posts-by-type .pagination-next {
    flex-grow: 0
}

.posts-by-type .posts-pop-tags {
    flex: 1 1 196px;
    margin-left: 40px;
    max-width: 196px
}

@media screen and (max-width: 1024px) {
    .posts-by-type .posts-pop-tags {
        display: none;
        position: absolute;
        margin-left: 0
    }
}

.posts-by-type .popular-tags {
    margin-top: 32px;
    padding: 16px 8px 16px 12px;
    border: 1px solid #dee2e6;
    background-color: #fff;
    border-radius: 4px
}

@media screen and (max-width: 1024px) {
    .posts-by-type .popular-tags {
        margin-top: 0
    }
}

@media screen and (max-width: 1024px) {
    .posts-by-type .tag--mobile-hidden {
        display: none
    }
}

.posts-by-type .popular-tags__tag-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row
}

.posts-by-type .popular-tags__title {
    margin-bottom: 16px;
    height: 20px;
    line-height: 1.43;
    font-size: 14px;
    font-weight: 500;
    color: #616568;
    letter-spacing: -.3px
}

.posts-by-type .popular-tags__tag {
    margin: 0 4px 10px 0
}

@media screen and (max-width: 1024px) {
    .posts-by-type .popular-tags__tag {
        margin-right: 8px;
        margin-bottom: 8px
    }
}

.posts-by-type .popular-tags__tag:hover {
    opacity: .7
}

.posts-by-type li.popular-tags__tag:last-child {
    margin-bottom: 0
}

.posts-by-type .modal section.modal-card.question-modal .question-modal__type .is-solid.is-primary {
    border-color: #dee2e6;
    color: #495057
}

.posts-by-type .modal section.modal-card.question-modal .question-modal__type--selected .is-solid.is-primary {
    border-color: #3E8ED0;
    color: #fff
}